{% extends 'templates/landingpage_base.html'%}

{% block content %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src = "/assets/frappe/node_modules/jquery/dist/jquery.min.js"></script>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Membership Profile </h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Membership Profile</li>
          </ol>
        </div>
        
      </div>
    </section><!-- End Breadcrumbs -->
    
    
    <section id = description>
    
    <h2>Sorry!<br> <br> Your request to pay your EMA membership fee has been cancelled Try again.  </h2>
    </section>
    
    
    
    
    <style>
    #description{
    text-align:center;
    }
    </style>
{% endblock %}
