{% extends 'templates/landingpage_base.html'%}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Organization Profile </h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Organization Profile</li>
          </ol>
        </div>
        
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <form id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <!-- here came the custom webform  -->
               <input type= "number" id = "see"  value = {{see}}  hidden>
              {% if logedinorg %}
                <div class="form-group">
             
                  <label for="OrganizationName">Name of Organization</label>
                  <input class="form-control" id="OrganizationName" type="text" value = {{logedinorg.name_1}} placeholder="Organization Name"name = "name_1" >
               </div>
               <div class="form-group">
                <label for="OrganizationEmail">Email of Organization</label>
                <input class="form-control" id="OrganizationEmail" type="email" value= {{email}}  placeholder="Organization Name" name= "email" required readonly>
             </div>
               <div class="form-group">
                <label for="industry">Industry</label>
                <input class="form-control" id="industry" type="text" value = {{logedinorg.industry}} placeholder="Industry Name" name= "industry">
             </div>
             
             {% else %}
              <div class="form-group">
             
                  <label for="OrganizationName">Name of Organization</label>
                  <input class="form-control" id="OrganizationName" type="text" placeholder="Organization Name"name = "name_1" >
               </div>
               <div class="form-group">
                <label for="OrganizationEmail">Email of Organization</label>
                <input class="form-control" id="OrganizationEmail" type="email" value= {{email}}  placeholder="Organization Name" name= "email" required readonly>
             </div>
               <div class="form-group">
                <label for="industry">Industry</label>
                <input class="form-control" id="industry" type="text" placeholder="Industry Name" name= "industry">
             </div>
             
             {% endif %}


<div class="form-group">
              <label for="branch">Branch </label>
              <select class="form-control branch-select" id="branch">
                <option value = "">Select Your Branch</option>
                {% for branch in branchs %}
                <option value = "{{branch.name}}">{{branch.name}}</option>
                {% endfor %}
                </select>
            </div>



             <div class="form-group">
              <label for="headoffice"><h2>Head Office Location</h2></label>
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="region">Region</label>
                        <select class="form-control" id="region" name="region">
                          <option value ="Addis Ababa">Addis Ababa</option>
                          <option value = "Afar">Afar</option>
                          <option value = "Amhara">Amhara</option>
                          <option value = "Benishangul-Gumuz">Benishangul-Gumuz</option>
                          <option value = "Dire Dawa">Dire Dawa</option>
                          <option value = "Gambella">Gambella</option>
                          <option value = "Harari">Harari</option>
                          <option value = "Oromia">Oromia</option>
                          <option value = "Somali">Somali</option>
                          <option value = "Tigray">Tigray</option>
                          <option value = "SNNPR">SNNPR</option>
                          <option value = "Sidama">Sidama</option>
                          
                         </select>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control" placeholder="city" name="city">
                    </div>
                </div>
            </div>
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number *</label>
              <input type="number" class="form-control" id="phone_number" value={{logedinorg.phone_number}} placeholder="09********" name="phone_number" required>
            </div>
             
            <div class="form-group">
              <label for="headoffice2"><h2>Other Location</h2></label>
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="region2">Region</label>
                        <select class="form-control" id="region2" name="region_2">
                          <!-- Prefix cannot be "('Prof',)". It should be one of "Dr", "Prof", "Mr", "Mrs", "Ms" -->
                          <option value ="Addis Ababa">Addis Ababa</option>
                          <option value = "Afar">Afar</option>
                          <option value = "Amhara">Amhara</option>
                          <option value = "Benishangul-Gumuz">Benishangul-Gumuz</option>
                          <option value = "Dire Dawa">Dire Dawa</option>
                          <option value = "Gambella">Gambella</option>
                          <option value = "Harari">Harari</option>
                          <option value = "Oromia">Oromia</option>
                          <option value = "Somali">Somali</option>
                          <option value = "Tigray">Tigray</option>
                          <option value = "SNNPR">SNNPR</option>
                          <option value = "Sidama">Sidama</option>
                          
                         </select>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city2">City</label>
                        <input id="city2" type="text" name="city_2" class="form-control" placeholder="city">
                    </div>
                </div>
            </div>
            </div>
            <div class="form-group">
              <label for="phone_number2">Phone Number *</label>
              <input type="number" class="form-control" id="phone_number2" placeholder="09********" name="phone_number_2">
            </div>
              
             {% if logedinorg %}
                <div class="form-group">
                  <label for="website">Website</label>
                  <input class="form-control " id="website" type="text" value = {{logedinorg.website}} placeholder="Website" name = "website">
                 </div>
              {% else %}
              <div class="form-group">
                  <label for="website">Website</label>
                  <input class="form-control " id="website" type="text" placeholder="Website" name = "website">
                 </div>
              {% endif %}
              

                <div class="form-group">
                  <label for="extension_period">Extension Period * </label>
                     <input class="form-control" id="extension_period" type="number" name="extension_period">
                </div>

               
               <div class="form-group">
                <label for="Membershiptype">Membership Type</label>
                <select class="form-control" id="Membershiptype" name=>
                  <option value="">None</option>
                  <option value="Corporate">Corporate</option>
                 </select>
               </div>
               <div class="form-group">
                <label for="Membershipfee"></label>
                <input class="form-control medapay-hide" id="Membershipfee" type="text"  readonly>
               </div>
               <div class="withmeda medapay-hide">
                <div class="form-group">
                  <label for="reference">Generate Payment reference</label>
                 
                  <input class="form-control" id="reference" type="text" placeholder="Readonly input here…" readonly>
                </div>
                
              </div>
               <div>

                <span href="#" type="button"  class="paywithmeda medapay-hide paywithmedaOrganization"  >Pay with MedaPay</span>
              </div>

             </div>
            
         
             

            </div>
     
            <!-- <a href="index.html" type="button" class="saveUpdateq">Save Organization</a>  -->
            <button class="saveUpdate">Save Organization</button>
            <style>
            button{
            border:none;
            }
            </style>
            
          </div>
      
            </div>
          </div>

        

        </div>

      </div>
    </form><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  
  <!-- <script>  </script> -->
{% endblock %}
